<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net452" />
  <package id="Extended.Wpf.Toolkit" version="4.0.1" targetFramework="net461" />
  <package id="MaterialDesignColors" version="1.1.2" targetFramework="net461" />
  <package id="MaterialDesignThemes" version="2.6.0-ci1366" targetFramework="net461" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.0.0" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.6.0-preview4.19212.13" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration" version="3.0.0-preview4.19216.2" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="3.0.0-preview4.19216.2" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="3.0.0-preview4.19216.2" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection" version="3.0.0-preview4.19216.2" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="3.0.0-preview4.19216.2" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging" version="3.0.0-preview4.19216.2" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="3.0.0-preview4.19216.2" targetFramework="net461" />
  <package id="Microsoft.Extensions.Options" version="3.0.0-preview4.19216.2" targetFramework="net461" />
  <package id="Microsoft.Extensions.Primitives" version="3.0.0-preview4.19216.2" targetFramework="net461" />
  <package id="mixer-client-csharp" version="0.8.4.12-beta" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net461" />
  <package id="OBS.WebSocketInterface" version="3.0.0" targetFramework="net452" />
  <package id="obs-websocket-dotnet" version="4.2.0-beta3" targetFramework="net45" />
  <package id="Serilog" version="2.8.1-dev-01054" targetFramework="net461" />
  <package id="SuperSocket.ClientEngine.Core" version="0.10.0" targetFramework="net452" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net461" />
  <package id="System.Collections" version="4.3.0" targetFramework="net461" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="1.3.1" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="4.6.0-preview4.19212.13" targetFramework="net461" />
  <package id="System.Data.SQLite" version="1.0.110.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.110.0" targetFramework="net461" />
  <package id="System.Data.SQLite.EF6" version="1.0.110.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Linq" version="1.0.110.0" targetFramework="net461" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net461" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net461" />
  <package id="System.Interactive.Async" version="4.0.0" targetFramework="net461" />
  <package id="System.Linq" version="4.3.0" targetFramework="net461" />
  <package id="System.Linq.Async" version="4.0.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.2" targetFramework="net461" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.6.0-preview4.19212.13" targetFramework="net461" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net461" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.6.0-preview4.19212.13" targetFramework="net461" />
  <package id="System.Runtime.Extensions" version="4.3.1" targetFramework="net461" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net461" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net461" />
  <package id="WebSocket4Net" version="0.15.2" targetFramework="net452" />
  <package id="WebSocketSharp" version="1.0.3-rc11" targetFramework="net45" />
  <package id="WebSocketSharp-NonPreRelease" version="1.0.0" targetFramework="net45" />
</packages>